<section>
<header>
<h1>This is the index page</h1>

<p> It's amazing </p>

<button><a href="/inline">Inline Get Example</a></button>
<button><a href="/fs_polling">FS Polling Example</a></button>
<button><a href="/redis_polling">Redis Polling Example</a></button>
</header>
</section>

<main>
<article>
    <%= @readme %>
</article>
</main>