    <section>
      <header>
        <h1>Redis Polling</h1>
        <p>This will return after a few seconds and stores the state in Redis</p>
      </header>

      <aside>
        <span class="htmx-indicator"> <img src="/bars.svg" /> Loading... </span>
        <form
          hx-get="/redis_polling"
          hx-target="#results"
          hx-indicator=".htmx-indicator"
          hx-push-url="true"
        >
          <label for="arg1">Arg 1:</label>
          <input type="text" name="arg1" id="arg1""/>
          <input type="submit" value="Run" />
        </form>
      </aside>
    </section>

    <main>
      <article id="results">
        <%= erb :results %>
      </article>
    </main>